@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fill-yellow {
    fill: #FFD700; /* You can use any color you prefer */
  }
}

:root {
  --background: #393939;
  --foreground: #393939;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #393939;
    --foreground: #393939;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
